<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eun.myself.myapp.board.dao.IBoardRepository">

	<select id="selectArticleListByCategory" parameterType="map" resultType="eun.myself.myapp.board.model.Board">
	<![CDATA[
		SELECT 
			BOARD_ID 				AS "board_Id", 
			CATEGORY_ID 			AS "category_Id", 
			BOARD_WRITER					AS "board_Writer", 
			BOARD_WRITER_ID				AS "board_Writer_Id", 
			BOARD_TITLE					AS "board_Title", 
			BOARD_WRITEDATE				AS "board_WriteDate", 
			BOARD_MASTER_ID 				AS "board_Master_Id", 
			REPLY_BOARD_NUMBER 			AS "reply_Board_Number", 
			REPLY_BOARD_STEP				AS "reply_Board_Step", 
			READ_COUNT				AS "read_Count", 
			RNUM+1 					AS "seq"
	    FROM (
            SELECT 
	    		A.BOARD_ID AS BOARD_ID, 
	    		A.CATEGORY_ID AS CATEGORY_ID, 
	    		A.BOARD_WRITER AS BOARD_WRITER, 
	    		A.BOARD_WRITER_ID AS BOARD_WRITER_ID, 
	    		A.BOARD_TITLE AS BOARD_TITLE, 
	    		A.BOARD_WRITEDATE AS BOARD_WRITEDATE, 
	    		A.BOARD_MASTER_ID AS BOARD_MASTER_ID, 
	    		A.REPLY_BOARD_NUMBER AS REPLY_BOARD_NUMBER, 
	    		A.REPLY_BOARD_STEP AS REPLY_BOARD_STEP, 
	    		A.READ_COUNT AS READ_COUNT,
				@rownum:=@rownum+1 AS RNUM
	    	FROM (
	    		SELECT * FROM BOARD
	    		WHERE CATEGORY_ID=#{category_Id}
	    		ORDER BY BOARD_MASTER_ID DESC, REPLY_BOARD_NUMBER, REPLY_BOARD_STEP
	    	) A,(SELECT @rownum:=0) TEMP
		) B
	    limit #{end} offset #{start}
	]]>
	</select>
	
	<select id="selectArticle" parameterType="int" resultType="eun.myself.myapp.board.model.Board">
	<![CDATA[
		SELECT 
			BOARD.BOARD_ID				AS "board_id", 
			CATEGORY_ID					AS "category_id", 
			WRITER						AS "writer", 
			WRITER_ID						AS "WRITER_ID", 
			TITLE						AS "title", 
			CONTENT						AS "content", 
			READ_COUNT					AS "read_Count", 
			WRITE_DATE					AS "writeDate", 
			MASTER_ID					AS "master_id", 
			REPLY_NUMBER				AS "reply_number", 
			REPLY_STEP					AS "reply_step", 
			REPLY_PARENTS_NUMBER		AS "reply_parents_number",
			BOARD_UPLOAD_FILE.FILE_ID			AS "file_id", 
			BOARD_UPLOAD_FILE.FILE_NAME			AS "file_name", 
			BOARD_UPLOAD_FILE.FILE_SIZE			AS "file_size",
			BOARD_UPLOAD_FILE.FILE_CONTENT_TYPE	AS "file_content_type"
		FROM BOARD LEFT OUTER JOIN BOARD_UPLOAD_FILE 
			ON BOARD.BOARD_ID=BOARD_UPLOAD_FILE.BOARD_ID 
		WHERE BOARD.BOARD_ID=#{board_id}
	]]>
	</select>
	
	<update id="updateReadCount" parameterType="int">
	<![CDATA[
		UPDATE BOARD 
			SET READ_COUNT = READ_COUNT+1 
		WHERE BOARD_ID=#{board_id}
	]]>
	</update>
	
	
	
	<select id="selectMaxArticleNo" resultType="int">
	<![CDATA[
		SELECT 
			IFNULL(MAX(BOARD_ID),0) AS "articleNo"
		FROM BOARD
	]]>
	</select>
	
	<select id="selectMaxReplyNo" parameterType="int" resultType="int">
	<![CDATA[
		SELECT 
			IFNULL(MAX(reply_number),0) AS "replyNo"
		FROM BOARD where master_id=#{master_id}
	]]>
	</select>
	<select id="selectCustomMaxReplyNo" parameterType="map" resultType="int">
	<![CDATA[
		SELECT 
		IFNULL(MAX(reply_number),0) AS "replyNo"
		FROM BOARD 
		where master_id=#{master_id} and reply_step=#{reply_step} and reply_parents_number=#{reply_parents_number}
	]]>
	</select>
	<select id="selectMaxSameStep" parameterType="map" resultType="int">
	<![CDATA[
		SELECT 
			count(*)
		FROM BOARD where master_id=#{master_id} and reply_step=#{reply_step} and reply_parents_number=#{reply_parents_number}
	]]>
	</select>

	

	<select id="selectMaxFileId" parameterType="int" resultType="int">
	<![CDATA[
		SELECT 
			IFNULL(MAX(FILE_ID),0) AS "file_id"
		FROM BOARD_UPLOAD_FILE
	]]>
	</select>
		
	<insert id="insertArticle" parameterType="eun.myself.myapp.board.model.Board">
	<![CDATA[
		INSERT INTO 
		BOARD 
			(BOARD_ID,
			 CATEGORY_ID, 
			 BOARD_WRITER, 
			 BOARD_WRITER_ID, 
			 BOARD_PASSWORD, 
			 BOARD_TITLE, 
			 BOARD_CONTENT, 
			 BOARD_WRITEDATE, 
			 BOARD_MASTER_ID, 
			 REPLY_BOARD_NUMBER, 			 
			 REPLY_BOARD_STEP,
			 REPLY_BOARD_STARTBOARD
			 )  
		VALUES 
			(#{board_Id},
			 #{category_Id}, 
			 #{board_Writer}, 
			 #{board_Writer_Id}, 
			 #{board_Password}, 
			 #{board_Title}, 
			 #{board_Content}, 
			 DEFAULT, 
			 #{board_Id}, 
			 0, 
			 0,
			 -1
			 
			 )
	]]>
	</insert>
	
	<insert id="insertFileData" parameterType="eun.myself.myapp.board.model.BoardUploadFile">
	<![CDATA[
		INSERT INTO 
		BOARD_UPLOAD_FILE 
			(FILE_ID, BOARD_ID, FILE_NAME, FILE_SIZE, FILE_CONTENT_TYPE, FILE_DATA) 
		VALUES 
			(#{file_id}, #{board_id}, #{file_name}, #{file_size}, #{file_content_type}, #{file_data})
	]]>
	</insert>
	
	<select id="getFile" parameterType="int" resultType="eun.myself.myapp.board.model.BoardUploadFile">
	<![CDATA[
		SELECT 
			FILE_ID				AS "file_id", 
			BOARD_ID			AS "board_id", 
			FILE_NAME			AS "file_name", 
			FILE_SIZE			AS "file_size", 
			FILE_CONTENT_TYPE	AS "file_content_type", 
			FILE_DATA 			AS "file_data"
		FROM BOARD_UPLOAD_FILE 
		WHERE FILE_ID=#{file_id}
	]]>
	</select>

	<insert id="updateReplyNumber" parameterType="map">
	<![CDATA[
		UPDATE 
			BOARD 
		SET 
			REPLY_NUMBER = REPLY_NUMBER + 1
			
		WHERE 
			MASTER_ID = #{master_id} AND REPLY_NUMBER > #{reply_number}
	]]>
	</insert>
	<insert id="test" parameterType="map">
	<![CDATA[
		UPDATE 
			BOARD 
		SET 
			REPLY_NUMBER = REPLY_NUMBER - 1
			
		WHERE 
			MASTER_ID = #{master_id} AND REPLY_NUMBER > #{reply_number}
	]]>
	</insert>

	<insert id="replyArticle" parameterType="eun.myself.myapp.board.model.Board">
	<![CDATA[
		INSERT INTO 
		BOARD 
			(BOARD_ID,
			 CATEGORY_ID,
			  WRITER, 
			  writer_id, 
			  board_password, 
			  TITLE, 
			  CONTENT, 
			  WRITE_DATE, 
			  MASTER_ID, 
			  REPLY_NUMBER, 
			  REPLY_STEP,
			  REPLY_PARENTS_NUMBER
			  )  
		VALUES 
			(#{board_id},
			 #{category_id}, 
			 #{writer}, 
			 #{writer_id}, 
			 #{board_password}, 
			 #{title}, 
			 #{content}, 
			 datetime('now','localtime'), 
			 #{master_id}, 
			 #{reply_number}, 
			 #{reply_step},
			 #{reply_parents_number}
			 )
	]]>
	</insert>
		
	<select id="getPassword" parameterType="int" resultType="string">
	<![CDATA[
		SELECT board_password 
		FROM BOARD 
		WHERE BOARD_ID=#{board_id}
	]]>
	</select>
	
	<update id="updateArticle" parameterType="eun.myself.myapp.board.model.Board">
	<![CDATA[
		UPDATE 
			BOARD 
		SET 
			CATEGORY_ID=#{category_id}, WRITER=#{writer}, writer_id=#{writer_id}, TITLE=#{title}, 
			CONTENT=#{content}, WRITE_DATE=datetime('now','localtime') 
		WHERE 
			BOARD_ID=#{board_id}
	]]>
	</update>

	<update id="updateFileData" parameterType="eun.myself.myapp.board.model.BoardUploadFile">
	<![CDATA[
	 	UPDATE 
	 		BOARD_UPLOAD_FILE 
	 	SET 
	 		FILE_NAME=#{file_name}, FILE_SIZE=#{file_size}, FILE_CONTENT_TYPE=#{file_content_type}, FILE_DATA=#{file_data} 
	 	WHERE 
	 		FILE_ID=#{file_id}
	]]>
	</update>
	
	<select id="selectDeleteArticle" parameterType="int" resultType="eun.myself.myapp.board.model.Board">
	<![CDATA[
		SELECT 
			CATEGORY_ID		AS "category_id", 
			MASTER_ID		AS "master_id", 
			REPLY_NUMBER	AS "reply_number"
		FROM
			BOARD
		WHERE 
			BOARD_ID = #{board_id}
	]]>
	</select>
	
	<delete id="deleteFileData" parameterType="int">
	<![CDATA[
		DELETE FROM BOARD_UPLOAD_FILE 
		WHERE EXISTS  ( SELECT BOARD_ID FROM BOARD 
						WHERE BOARD.MASTER_ID=#{board_id} AND BOARD.BOARD_ID = BOARD_UPLOAD_FILE.BOARD_ID )
	]]>
	</delete>

	<delete id="deleteReplyFileData" parameterType="int">
	<![CDATA[
		DELETE FROM BOARD_UPLOAD_FILE 
		WHERE EXISTS  ( SELECT BOARD_ID FROM BOARD 
						WHERE BOARD.BOARD_ID=#{board_id} AND BOARD.BOARD_ID = BOARD_UPLOAD_FILE.BOARD_ID )
	]]>
	</delete>

	<delete id="deleteArticleByBoardId" parameterType="map">
		DELETE FROM 
			BOARD 
		WHERE 
			BOARD_ID=#{board_id}
	</delete>

	<delete id="deleteArticleByMasterId" parameterType="map">
		DELETE FROM 
			BOARD 
		WHERE 
			MASTER_ID=#{board_id}
	</delete>
	
	<select id="selectTotalArticleCount" resultType="int">
	<![CDATA[
		SELECT COUNT(BOARD_ID) AS "count" 
		FROM BOARD
	]]>
	</select>
	
	<select id="selectTotalArticleCountByCategoryId" parameterType="int" resultType="int">
	<![CDATA[
		SELECT COUNT(BOARD_ID) AS "count"
		FROM BOARD 
		WHERE CATEGORY_ID=#{category_Id}	
	]]>
	</select>
	
	<select id="selectTotalArticleCountByKeyword" parameterType="string" resultType="int">
	<![CDATA[
		SELECT 
			COUNT(*) FROM BOARD
		WHERE 
			TITLE LIKE #{keyword} OR CONTENT LIKE #{keyword}
	]]>
	</select> 

	<select id="searchListByContentKeyword" parameterType="hashmap" resultType="eun.myself.myapp.board.model.Board">
	<![CDATA[
		SELECT 
			BOARD_ID 				AS "board_id", 
			CATEGORY_ID 			AS "category_id", 
			WRITER					AS "writer", 
			writer_id					AS "writer_id", 
			TITLE					AS "title", 
			WRITE_DATE				AS "writeDate", 
			MASTER_ID 				AS "master_id", 
			REPLY_NUMBER 			AS "reply_number", 
			REPLY_STEP				AS "reply_step", 
			READ_COUNT				AS "readCount", 
			RNUM+1 					AS "seq"
	    FROM (
	    	SELECT 
	    		BOARD_ID, 
	    		CATEGORY_ID, 
	    		WRITER, 
	    		writer_id, 
	    		TITLE, 
	    		WRITE_DATE, 
	    		MASTER_ID, 
	    		REPLY_NUMBER, 
	    		REPLY_STEP, 
	    		READ_COUNT, 
	    		rowid AS RNUM
	    	FROM (
	    		SELECT * FROM BOARD
	    		WHERE
	    			TITLE LIKE #{keyword}
		    		OR 
		    		CONTENT LIKE #{keyword}
	    		ORDER BY MASTER_ID DESC, REPLY_NUMBER, REPLY_STEP
	    	)
	    )
	    WHERE LIMIT #{end} AND #{start}
	]]>
	</select>

</mapper>

