<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eun.myself.myapp.member.dao.IMemberRepository">
	<insert id="insertMember" parameterType="eun.myself.myapp.member.model.Member">
	<![CDATA[
		INSERT INTO 
		MEMBERS 
			 (
			 	MEMBER_UID,
			 	MEMBER_ID,
			 	MEMBER_USERNAME,
			 	MEMBER_PASSWORD,
			 	MEMBER_EMAIL
			 ) 
		VALUES
			 (
				#{member_Uid},
				#{member_Id},
				#{member_Username},
				#{member_Password},
				#{member_Email}				
			 )
	]]>
	</insert>
	
	<select id="memberSignin" resultType="eun.myself.myapp.member.model.Member">
		Select * from a
	</select>
	<update id="updateMember" parameterType="eun.myself.myapp.member.model.Member">
	<![CDATA[
		UPDATE
			MEMBERS
	    SET
	    	MEMBER_USERNAME=#{member_Username}, 
	    	MEMBER_PASSWORD=#{member_Password}, 
	    	MEMBER_EMAIL=#{member_Email} 
	    WHERE 
	    	MEMBER_ID=#{member_Id}
	]]>
		
	</update>
	<delete id="deleteMember" parameterType="string">
	<![CDATA[
		DELETE
		 FROM
		  MEMBERS 
	     WHERE
	      MEMBER_ID=#{member_Id}
	]]>
		
	</delete>
	<select id="selectMember" parameterType="string" resultType="eun.myself.myapp.member.model.Member">
	<![CDATA[
		SELECT 
			MEMBER_UID,
			MEMBER_GID,
			MEMBER_ID,
			MEMBER_USERNAME,
			MEMBER_PASSWORD,
			MEMBER_EMAIL,
			MEMBER_IMAGE
		 FROM
		  MEMBERS
	     WHERE MEMBER_ID=#{member_Id}
   	]]>
	</select>
</mapper>